@import url("../../css/global.css");
@import url("../../css/main.css");

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borde);
    border-radius: 5px;
    width: 95%;
    height: 50px;
    justify-self: end;
}